openapi: 3.0.3
info:
  title: Site24x7 REST Alarms Threshold Profiles API
  description: The Site24x7 REST API (v2.0) enables programmatic access to all monitoring operations including creating and managing monitors for websites, servers, cloud resources, APIs, and databases; configuring alert thresholds, notification profiles, and on-call schedules; scheduling maintenance windows; retrieving availability, performance, and SLA reports; managing IT automation actions; and administering users, groups, and third-party integrations. Authentication uses OAuth 2.0 via the Zoho Developer Console.
  version: '2.0'
  contact:
    name: Site24x7 Support
    url: https://www.site24x7.com/contact.html
  termsOfService: https://www.site24x7.com/terms.html
  license:
    name: Site24x7 Terms of Service
    url: https://www.site24x7.com/terms.html
servers:
- url: https://www.site24x7.com/api
  description: US data center
- url: https://www.site24x7.eu/api
  description: EU data center
- url: https://www.site24x7.in/api
  description: India data center
- url: https://www.site24x7.net.au/api
  description: Australia data center
- url: https://app.site24x7.jp/api
  description: Japan data center
- url: https://www.site24x7.ca/api
  description: Canada data center
- url: https://app.site24x7.uk/api
  description: UK data center
- url: https://app.site24x7.ae/api
  description: UAE data center
- url: https://www.site24x7.sa/api
  description: Saudi Arabia data center
security:
- ZohoOAuth: []
tags:
- name: Threshold Profiles
  description: Performance threshold configuration
paths:
  /threshold_profiles:
    get:
      operationId: listThresholdProfiles
      tags:
      - Threshold Profiles
      summary: List threshold profiles
      description: Retrieve all threshold profiles configured in the account.
      parameters:
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Threshold profiles returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ThresholdProfileListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createThresholdProfile
      tags:
      - Threshold Profiles
      summary: Create a threshold profile
      description: Create a new threshold profile for alert triggering.
      parameters:
      - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/ThresholdProfileCreate'
      responses:
        '200':
          description: Threshold profile created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ThresholdProfileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /threshold_profiles/{profile_id}:
    get:
      operationId: getThresholdProfile
      tags:
      - Threshold Profiles
      summary: Get a threshold profile
      description: Retrieve details of a specific threshold profile.
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Threshold profile returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ThresholdProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateThresholdProfile
      tags:
      - Threshold Profiles
      summary: Update a threshold profile
      description: Modify an existing threshold profile.
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/ThresholdProfileCreate'
      responses:
        '200':
          description: Threshold profile updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ThresholdProfileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteThresholdProfile
      tags:
      - Threshold Profiles
      summary: Delete a threshold profile
      description: Remove a threshold profile from the account.
      parameters:
      - $ref: '#/components/parameters/ProfileId'
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Threshold profile deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    ProfileId:
      name: profile_id
      in: path
      required: true
      schema:
        type: string
      description: Unique profile identifier
    ApiVersionHeader:
      name: Accept
      in: header
      required: false
      schema:
        type: string
        default: application/json; version=2.0
      description: API version header. Defaults to version 2.0.
  schemas:
    ThresholdProfile:
      type: object
      properties:
        profile_id:
          type: string
          description: Unique threshold profile identifier
        profile_name:
          type: string
          description: Name of the threshold profile
        type:
          type: string
          description: Monitor type this profile applies to
        is_default:
          type: boolean
          description: Whether this is the default threshold profile
        trouble_threshold:
          type: integer
          description: Response time threshold for TROUBLE status (milliseconds)
        critical_threshold:
          type: integer
          description: Response time threshold for CRITICAL status (milliseconds)
        down_threshold:
          type: integer
          description: Consecutive failures before marking as DOWN
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          description: Response code (0 = success)
          example: 0
        message:
          type: string
          description: Response message
          example: success
      required:
      - code
      - message
    ThresholdProfileResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ThresholdProfile'
    ThresholdProfileCreate:
      type: object
      required:
      - profile_name
      - type
      properties:
        profile_name:
          type: string
          description: Name for the threshold profile
          example: Website Thresholds
        type:
          type: string
          description: Monitor type this profile applies to
          example: URL
        trouble_threshold:
          type: integer
          description: Response time for TROUBLE alert (ms)
          example: 3000
        critical_threshold:
          type: integer
          description: Response time for CRITICAL alert (ms)
          example: 5000
        down_threshold:
          type: integer
          description: Consecutive failures before DOWN alert
          example: 1
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: Error code
        message:
          type: string
          description: Error description
        error_info:
          type: string
          description: Additional error details
    ThresholdProfileListResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ThresholdProfile'
  responses:
    Unauthorized:
      description: Authentication failed or token is missing
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    ZohoOAuth:
      type: http
      scheme: bearer
      bearerFormat: Zoho-oauthtoken
      description: 'OAuth 2.0 token obtained from the Zoho Developer Console. Pass as `Authorization: Zoho-oauthtoken {access_token}`.'
externalDocs:
  description: Site24x7 API Documentation
  url: https://www.site24x7.com/help/api/
