openapi: 3.0.3
info:
  title: Site24x7 REST Alarms Users API
  description: The Site24x7 REST API (v2.0) enables programmatic access to all monitoring operations including creating and managing monitors for websites, servers, cloud resources, APIs, and databases; configuring alert thresholds, notification profiles, and on-call schedules; scheduling maintenance windows; retrieving availability, performance, and SLA reports; managing IT automation actions; and administering users, groups, and third-party integrations. Authentication uses OAuth 2.0 via the Zoho Developer Console.
  version: '2.0'
  contact:
    name: Site24x7 Support
    url: https://www.site24x7.com/contact.html
  termsOfService: https://www.site24x7.com/terms.html
  license:
    name: Site24x7 Terms of Service
    url: https://www.site24x7.com/terms.html
servers:
- url: https://www.site24x7.com/api
  description: US data center
- url: https://www.site24x7.eu/api
  description: EU data center
- url: https://www.site24x7.in/api
  description: India data center
- url: https://www.site24x7.net.au/api
  description: Australia data center
- url: https://app.site24x7.jp/api
  description: Japan data center
- url: https://www.site24x7.ca/api
  description: Canada data center
- url: https://app.site24x7.uk/api
  description: UK data center
- url: https://app.site24x7.ae/api
  description: UAE data center
- url: https://www.site24x7.sa/api
  description: Saudi Arabia data center
security:
- ZohoOAuth: []
tags:
- name: Users
  description: User account administration
paths:
  /users:
    get:
      operationId: listUsers
      tags:
      - Users
      summary: List all users
      description: Retrieve a list of all users in the account.
      parameters:
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: Users returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createUser
      tags:
      - Users
      summary: Create a user
      description: Create a new user account.
      parameters:
      - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '200':
          description: User created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}:
    get:
      operationId: getUser
      tags:
      - Users
      summary: Get a user
      description: Retrieve details of a specific user.
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: Unique user identifier
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: User returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateUser
      tags:
      - Users
      summary: Update a user
      description: Modify an existing user's details.
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: Unique user identifier
      - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteUser
      tags:
      - Users
      summary: Delete a user
      description: Remove a user account from the system.
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: Unique user identifier
      - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        '200':
          description: User deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication failed or token is missing
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          description: Response code (0 = success)
          example: 0
        message:
          type: string
          description: Response message
          example: success
      required:
      - code
      - message
    UserResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/User'
    UserListResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/User'
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: Error code
        message:
          type: string
          description: Error description
        error_info:
          type: string
          description: Additional error details
    User:
      type: object
      properties:
        user_id:
          type: string
          description: Unique user identifier
        display_name:
          type: string
          description: User's display name
        email_address:
          type: array
          items:
            type: string
            format: email
          description: List of email addresses for the user
        mobile_sms:
          type: array
          items:
            type: string
          description: List of mobile numbers for SMS alerts
        role:
          type: integer
          description: User role (0=Super Admin, 1=Admin, 2=Operator, 3=Read Only)
          enum:
          - 0
          - 1
          - 2
          - 3
        notify_via:
          type: array
          items:
            type: integer
          description: Notification channels (1=Email, 2=SMS, 3=Voice, 4=IM)
    UserCreate:
      type: object
      required:
      - display_name
      - email_address
      - role
      properties:
        display_name:
          type: string
          description: User's display name
          example: John Doe
        email_address:
          type: array
          items:
            type: string
            format: email
          description: Email addresses for the user
        mobile_sms:
          type: array
          items:
            type: string
          description: Mobile phone numbers for SMS alerts
        role:
          type: integer
          description: User role
          enum:
          - 0
          - 1
          - 2
          - 3
          example: 2
        notify_via:
          type: array
          items:
            type: integer
          description: Notification method codes
  parameters:
    ApiVersionHeader:
      name: Accept
      in: header
      required: false
      schema:
        type: string
        default: application/json; version=2.0
      description: API version header. Defaults to version 2.0.
  securitySchemes:
    ZohoOAuth:
      type: http
      scheme: bearer
      bearerFormat: Zoho-oauthtoken
      description: 'OAuth 2.0 token obtained from the Zoho Developer Console. Pass as `Authorization: Zoho-oauthtoken {access_token}`.'
externalDocs:
  description: Site24x7 API Documentation
  url: https://www.site24x7.com/help/api/
