openapi: 3.0.3
info:
  title: Site24x7 REST API
  description: >-
    The Site24x7 REST API (v2.0) enables programmatic access to all monitoring
    operations including creating and managing monitors for websites, servers,
    cloud resources, APIs, and databases; configuring alert thresholds,
    notification profiles, and on-call schedules; scheduling maintenance
    windows; retrieving availability, performance, and SLA reports; managing
    IT automation actions; and administering users, groups, and third-party
    integrations. Authentication uses OAuth 2.0 via the Zoho Developer Console.
  version: "2.0"
  contact:
    name: Site24x7 Support
    url: https://www.site24x7.com/contact.html
  termsOfService: https://www.site24x7.com/terms.html
  license:
    name: Site24x7 Terms of Service
    url: https://www.site24x7.com/terms.html
externalDocs:
  description: Site24x7 API Documentation
  url: https://www.site24x7.com/help/api/

servers:
  - url: https://www.site24x7.com/api
    description: US data center
  - url: https://www.site24x7.eu/api
    description: EU data center
  - url: https://www.site24x7.in/api
    description: India data center
  - url: https://www.site24x7.net.au/api
    description: Australia data center
  - url: https://app.site24x7.jp/api
    description: Japan data center
  - url: https://www.site24x7.ca/api
    description: Canada data center
  - url: https://app.site24x7.uk/api
    description: UK data center
  - url: https://app.site24x7.ae/api
    description: UAE data center
  - url: https://www.site24x7.sa/api
    description: Saudi Arabia data center

security:
  - ZohoOAuth: []

tags:
  - name: Monitors
    description: Create, retrieve, update, and delete monitors of all types
  - name: Monitor Groups
    description: Organize monitors into logical groups
  - name: Current Status
    description: Real-time status and health information
  - name: Reports
    description: Availability, performance, SLA, and custom reports
  - name: Outages
    description: Outage records and incident management
  - name: Alarms
    description: Alert and alarm management
  - name: Users
    description: User account administration
  - name: Notification Profiles
    description: Alert notification configuration
  - name: Threshold Profiles
    description: Performance threshold configuration
  - name: Maintenance Windows
    description: Scheduled maintenance management
  - name: Tags
    description: Tag-based monitor organization

paths:
  # ──────────────────────────────────────────────────────────────────────────────
  # Monitors
  # ──────────────────────────────────────────────────────────────────────────────
  /monitors:
    get:
      operationId: listMonitors
      tags: [Monitors]
      summary: List all monitors
      description: Retrieve a list of all monitors configured in the account.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: List of monitors returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createMonitor
      tags: [Monitors]
      summary: Create a monitor
      description: Create a new monitor. The monitor type is determined by the `type` field in the request body.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/MonitorCreate'
      responses:
        "200":
          description: Monitor created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /monitors/{monitor_id}:
    get:
      operationId: getMonitor
      tags: [Monitors]
      summary: Get a monitor
      description: Retrieve the configuration and details of a specific monitor by its ID.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor details returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateMonitor
      tags: [Monitors]
      summary: Update a monitor
      description: Modify the configuration of an existing monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/MonitorCreate'
      responses:
        "200":
          description: Monitor updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMonitor
      tags: [Monitors]
      summary: Delete a monitor
      description: Permanently remove a monitor from the account.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitors/name/{display_name}:
    get:
      operationId: getMonitorByName
      tags: [Monitors]
      summary: Get a monitor by name
      description: Retrieve monitor details using the monitor's display name.
      parameters:
        - name: display_name
          in: path
          required: true
          schema:
            type: string
          description: Display name of the monitor
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMonitorByName
      tags: [Monitors]
      summary: Delete a monitor by name
      description: Remove a monitor using its display name.
      parameters:
        - name: display_name
          in: path
          required: true
          schema:
            type: string
          description: Display name of the monitor
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitors/{monitor_id}/activate:
    put:
      operationId: activateMonitor
      tags: [Monitors]
      summary: Activate a monitor
      description: Re-enable a previously suspended monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor activated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitors/{monitor_id}/suspend:
    put:
      operationId: suspendMonitor
      tags: [Monitors]
      summary: Suspend a monitor
      description: Pause monitoring operations for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor suspended successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitors/{monitor_id}/poll:
    post:
      operationId: pollMonitor
      tags: [Monitors]
      summary: Poll a monitor immediately
      description: Initiate an immediate check for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Poll initiated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitors/{monitor_id}/polling_status:
    get:
      operationId: getMonitorPollingStatus
      tags: [Monitors]
      summary: Get polling status
      description: Retrieve the current polling status for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Polling status returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitors/{monitor_id}/mute:
    put:
      operationId: muteMonitor
      tags: [Monitors]
      summary: Mute a monitor
      description: Silence alert notifications for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor muted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitors/{monitor_id}/unmute:
    put:
      operationId: unmuteMonitor
      tags: [Monitors]
      summary: Unmute a monitor
      description: Resume alert notifications for a previously muted monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor unmuted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitors/{monitor_id}/monitor_groups:
    get:
      operationId: getMonitorGroups
      tags: [Monitor Groups]
      summary: Get monitor groups for a monitor
      description: Retrieve all monitor groups that a specific monitor belongs to.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor groups returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorGroupListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateMonitorGroupAssignments
      tags: [Monitor Groups]
      summary: Update monitor group assignments
      description: Update which monitor groups a specific monitor belongs to.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              type: object
              properties:
                group_ids:
                  type: array
                  items:
                    type: string
                  description: List of monitor group IDs
      responses:
        "200":
          description: Monitor group assignments updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────────────────────
  # Monitor Groups
  # ──────────────────────────────────────────────────────────────────────────────
  /monitor_groups:
    get:
      operationId: listMonitorGroups
      tags: [Monitor Groups]
      summary: List all monitor groups
      description: Retrieve all monitor groups configured in the account.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor groups returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorGroupListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createMonitorGroup
      tags: [Monitor Groups]
      summary: Create a monitor group
      description: Create a new monitor group to organize related monitors.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/MonitorGroupCreate'
      responses:
        "200":
          description: Monitor group created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorGroupResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /monitor_groups/{group_id}:
    get:
      operationId: getMonitorGroup
      tags: [Monitor Groups]
      summary: Get a monitor group
      description: Retrieve details of a specific monitor group.
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor group returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorGroupResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateMonitorGroup
      tags: [Monitor Groups]
      summary: Update a monitor group
      description: Modify the configuration of an existing monitor group.
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/MonitorGroupCreate'
      responses:
        "200":
          description: Monitor group updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MonitorGroupResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMonitorGroup
      tags: [Monitor Groups]
      summary: Delete a monitor group
      description: Permanently remove a monitor group.
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor group deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitor_groups/{group_id}/status:
    get:
      operationId: getMonitorGroupStatus
      tags: [Current Status]
      summary: Get monitor group status
      description: Retrieve the aggregated real-time status of all monitors in a group.
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Group status returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /monitor_groups/{group_id}/status/count:
    get:
      operationId: getMonitorGroupStatusCount
      tags: [Current Status]
      summary: Get monitor status count in a group
      description: Count monitors by status (Up, Down, Trouble, Critical) within a specific group.
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Status counts returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/StatusCountResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────────────────────
  # Current Status
  # ──────────────────────────────────────────────────────────────────────────────
  /monitors/{monitor_id}/status:
    get:
      operationId: getMonitorStatus
      tags: [Current Status]
      summary: Get current monitor status
      description: Retrieve the real-time status of a specific monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Monitor status returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /status/monitor_type/{type}:
    get:
      operationId: getStatusByMonitorType
      tags: [Current Status]
      summary: Get status by monitor type
      description: Retrieve status information filtered by a specific monitor type.
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
          description: Monitor type identifier (e.g., URL, SERVER, SSL_CERT)
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Status by monitor type returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /status/count:
    get:
      operationId: getStatusCount
      tags: [Current Status]
      summary: Get monitor status counts
      description: Get counts of monitors grouped by status (Up, Down, Trouble, Critical, Suspended, Maintenance).
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Status counts returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/StatusCountResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /status/monitor_type/count:
    get:
      operationId: getStatusCountByMonitorType
      tags: [Current Status]
      summary: Get status counts by monitor type
      description: Retrieve status counts grouped by monitor type.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Status counts by type returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/StatusCountResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  # ──────────────────────────────────────────────────────────────────────────────
  # Reports
  # ──────────────────────────────────────────────────────────────────────────────
  /reports/summary:
    get:
      operationId: getSummaryReport
      tags: [Reports]
      summary: Get summary report by monitor
      description: Retrieve a summary report for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/MonitorIdQuery'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Summary report returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /reports/summary/group:
    get:
      operationId: getSummaryReportByGroup
      tags: [Reports]
      summary: Get summary report by monitor group
      description: Retrieve a summary report aggregated by monitor group.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/GroupIdQuery'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Summary report by group returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /reports/summary/all:
    get:
      operationId: getSummaryReportAll
      tags: [Reports]
      summary: Get summary report for all monitors
      description: Retrieve a summary report covering all monitors.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Summary report for all monitors returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /reports/availability:
    get:
      operationId: getAvailabilityReport
      tags: [Reports]
      summary: Get availability report
      description: Retrieve an availability report for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/MonitorIdQuery'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Availability report returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /reports/availability/all:
    get:
      operationId: getAvailabilityReportAll
      tags: [Reports]
      summary: Get availability report for all monitors
      description: Retrieve availability data covering all monitors.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Availability report for all monitors returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /reports/performance:
    get:
      operationId: getPerformanceReport
      tags: [Reports]
      summary: Get performance report
      description: Retrieve a performance report for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/MonitorIdQuery'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Performance report returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /reports/sla:
    get:
      operationId: getSlaReport
      tags: [Reports]
      summary: Get SLA report
      description: Retrieve SLA compliance reports.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/MonitorIdQuery'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: SLA report returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /reports/custom:
    post:
      operationId: createCustomReport
      tags: [Reports]
      summary: Create a custom report
      description: Generate a custom report with specified parameters.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              type: object
              properties:
                monitor_ids:
                  type: array
                  items:
                    type: string
                  description: List of monitor IDs to include
                start_date:
                  type: string
                  format: date-time
                  description: Report start date/time
                end_date:
                  type: string
                  format: date-time
                  description: Report end date/time
                report_type:
                  type: string
                  description: Type of custom report to generate
      responses:
        "200":
          description: Custom report created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /reports/health_trend:
    get:
      operationId: getHealthTrendReport
      tags: [Reports]
      summary: Get health trend report
      description: Retrieve health trend data for a monitor.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/MonitorIdQuery'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Health trend report returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  # ──────────────────────────────────────────────────────────────────────────────
  # Outages
  # ──────────────────────────────────────────────────────────────────────────────
  /outages:
    get:
      operationId: listOutages
      tags: [Outages]
      summary: List outages
      description: Retrieve outage details across all monitors.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Outage list returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/OutageListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createOutage
      tags: [Outages]
      summary: Create an outage
      description: Create an outage record for a monitor by ID or display name.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/OutageCreate'
      responses:
        "200":
          description: Outage created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/OutageResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /outages/{outage_id}:
    delete:
      operationId: deleteOutage
      tags: [Outages]
      summary: Delete an outage
      description: Remove an outage record.
      parameters:
        - name: outage_id
          in: path
          required: true
          schema:
            type: string
          description: Unique outage identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Outage deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /outages/monitor/{monitor_id}:
    get:
      operationId: getMonitorOutages
      tags: [Outages]
      summary: Get outages for a monitor
      description: Retrieve outage history for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Monitor outages returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/OutageListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /outages/monitor_group/{group_id}:
    get:
      operationId: getMonitorGroupOutages
      tags: [Outages]
      summary: Get outages for a monitor group
      description: Retrieve outage details grouped by monitor group.
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Monitor group outages returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/OutageListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /outages/{outage_id}/mark_as_maintenance:
    post:
      operationId: markOutageAsMaintenance
      tags: [Outages]
      summary: Mark outage as maintenance
      description: Convert an outage record to a maintenance window entry.
      parameters:
        - name: outage_id
          in: path
          required: true
          schema:
            type: string
          description: Unique outage identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Outage marked as maintenance successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /outages/{outage_id}/mark_as_outage:
    post:
      operationId: markAsOutage
      tags: [Outages]
      summary: Mark maintenance as outage
      description: Convert a maintenance window entry back to an outage.
      parameters:
        - name: outage_id
          in: path
          required: true
          schema:
            type: string
          description: Unique outage identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Marked as outage successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /outages/{outage_id}/comments:
    get:
      operationId: listOutageComments
      tags: [Outages]
      summary: List outage comments
      description: Retrieve all comments associated with a specific outage.
      parameters:
        - name: outage_id
          in: path
          required: true
          schema:
            type: string
          description: Unique outage identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Outage comments returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addOutageComment
      tags: [Outages]
      summary: Add outage comment
      description: Add a comment to a specific outage.
      parameters:
        - name: outage_id
          in: path
          required: true
          schema:
            type: string
          description: Unique outage identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/CommentCreate'
      responses:
        "200":
          description: Comment added successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /outages/{outage_id}/comments/{comment_id}:
    put:
      operationId: updateOutageComment
      tags: [Outages]
      summary: Update an outage comment
      description: Modify an existing comment on an outage.
      parameters:
        - name: outage_id
          in: path
          required: true
          schema:
            type: string
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/CommentCreate'
      responses:
        "200":
          description: Comment updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteOutageComment
      tags: [Outages]
      summary: Delete an outage comment
      description: Remove a comment from an outage.
      parameters:
        - name: outage_id
          in: path
          required: true
          schema:
            type: string
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Comment deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────────────────────
  # Alarms
  # ──────────────────────────────────────────────────────────────────────────────
  /alarms:
    get:
      operationId: listAlarms
      tags: [Alarms]
      summary: List all alarms
      description: Retrieve alarms across all monitors.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Alarms returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/AlarmListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /alarms/monitor/{monitor_id}:
    get:
      operationId: getMonitorAlarms
      tags: [Alarms]
      summary: Get alarms for a monitor
      description: Retrieve alarms for a specific monitor.
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Monitor alarms returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/AlarmListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  /alarms/monitor_group/{group_id}:
    get:
      operationId: getMonitorGroupAlarms
      tags: [Alarms]
      summary: Get alarms for a monitor group
      description: Retrieve alarms organized by monitor group.
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/ApiVersionHeader'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      responses:
        "200":
          description: Monitor group alarms returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/AlarmListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────────────────────
  # Users
  # ──────────────────────────────────────────────────────────────────────────────
  /users:
    get:
      operationId: listUsers
      tags: [Users]
      summary: List all users
      description: Retrieve a list of all users in the account.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Users returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createUser
      tags: [Users]
      summary: Create a user
      description: Create a new user account.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        "200":
          description: User created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/UserResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /users/{user_id}:
    get:
      operationId: getUser
      tags: [Users]
      summary: Get a user
      description: Retrieve details of a specific user.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: Unique user identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: User returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/UserResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateUser
      tags: [Users]
      summary: Update a user
      description: Modify an existing user's details.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: Unique user identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        "200":
          description: User updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/UserResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteUser
      tags: [Users]
      summary: Delete a user
      description: Remove a user account from the system.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: Unique user identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: User deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────────────────────
  # Notification Profiles
  # ──────────────────────────────────────────────────────────────────────────────
  /notification_profiles:
    get:
      operationId: listNotificationProfiles
      tags: [Notification Profiles]
      summary: List notification profiles
      description: Retrieve all notification profiles configured in the account.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Notification profiles returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/NotificationProfileListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createNotificationProfile
      tags: [Notification Profiles]
      summary: Create a notification profile
      description: Create a new notification profile to configure alert delivery.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/NotificationProfileCreate'
      responses:
        "200":
          description: Notification profile created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/NotificationProfileResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /notification_profiles/{profile_id}:
    get:
      operationId: getNotificationProfile
      tags: [Notification Profiles]
      summary: Get a notification profile
      description: Retrieve details of a specific notification profile.
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Notification profile returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/NotificationProfileResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateNotificationProfile
      tags: [Notification Profiles]
      summary: Update a notification profile
      description: Modify an existing notification profile.
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/NotificationProfileCreate'
      responses:
        "200":
          description: Notification profile updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/NotificationProfileResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteNotificationProfile
      tags: [Notification Profiles]
      summary: Delete a notification profile
      description: Remove a notification profile from the account.
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Notification profile deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────────────────────
  # Threshold Profiles
  # ──────────────────────────────────────────────────────────────────────────────
  /threshold_profiles:
    get:
      operationId: listThresholdProfiles
      tags: [Threshold Profiles]
      summary: List threshold profiles
      description: Retrieve all threshold profiles configured in the account.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Threshold profiles returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ThresholdProfileListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createThresholdProfile
      tags: [Threshold Profiles]
      summary: Create a threshold profile
      description: Create a new threshold profile for alert triggering.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/ThresholdProfileCreate'
      responses:
        "200":
          description: Threshold profile created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ThresholdProfileResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /threshold_profiles/{profile_id}:
    get:
      operationId: getThresholdProfile
      tags: [Threshold Profiles]
      summary: Get a threshold profile
      description: Retrieve details of a specific threshold profile.
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Threshold profile returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ThresholdProfileResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateThresholdProfile
      tags: [Threshold Profiles]
      summary: Update a threshold profile
      description: Modify an existing threshold profile.
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/ThresholdProfileCreate'
      responses:
        "200":
          description: Threshold profile updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ThresholdProfileResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteThresholdProfile
      tags: [Threshold Profiles]
      summary: Delete a threshold profile
      description: Remove a threshold profile from the account.
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Threshold profile deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────────────────────
  # Maintenance Windows
  # ──────────────────────────────────────────────────────────────────────────────
  /maintenance_windows:
    get:
      operationId: listMaintenanceWindows
      tags: [Maintenance Windows]
      summary: List maintenance windows
      description: Retrieve all scheduled maintenance windows.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Maintenance windows returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createMaintenanceWindow
      tags: [Maintenance Windows]
      summary: Create a maintenance window
      description: Schedule a new maintenance window during which alerts are suppressed.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/MaintenanceWindowCreate'
      responses:
        "200":
          description: Maintenance window created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /maintenance_windows/{maintenance_id}:
    get:
      operationId: getMaintenanceWindow
      tags: [Maintenance Windows]
      summary: Get a maintenance window
      description: Retrieve details of a specific maintenance window.
      parameters:
        - name: maintenance_id
          in: path
          required: true
          schema:
            type: string
          description: Unique maintenance window identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Maintenance window returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateMaintenanceWindow
      tags: [Maintenance Windows]
      summary: Update a maintenance window
      description: Modify an existing maintenance window.
      parameters:
        - name: maintenance_id
          in: path
          required: true
          schema:
            type: string
          description: Unique maintenance window identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/MaintenanceWindowCreate'
      responses:
        "200":
          description: Maintenance window updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMaintenanceWindow
      tags: [Maintenance Windows]
      summary: Delete a maintenance window
      description: Remove a scheduled maintenance window.
      parameters:
        - name: maintenance_id
          in: path
          required: true
          schema:
            type: string
          description: Unique maintenance window identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Maintenance window deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────────────────────
  # Tags
  # ──────────────────────────────────────────────────────────────────────────────
  /tags:
    get:
      operationId: listTags
      tags: [Tags]
      summary: List all tags
      description: Retrieve all tags configured in the account.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Tags returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/TagListResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTag
      tags: [Tags]
      summary: Create a tag
      description: Create a new tag for organizing monitors.
      parameters:
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/TagCreate'
      responses:
        "200":
          description: Tag created successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/TagResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /tags/{tag_id}:
    get:
      operationId: getTag
      tags: [Tags]
      summary: Get a tag
      description: Retrieve details of a specific tag.
      parameters:
        - name: tag_id
          in: path
          required: true
          schema:
            type: string
          description: Unique tag identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Tag returned successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/TagResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateTag
      tags: [Tags]
      summary: Update a tag
      description: Modify an existing tag.
      parameters:
        - name: tag_id
          in: path
          required: true
          schema:
            type: string
          description: Unique tag identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      requestBody:
        required: true
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/TagCreate'
      responses:
        "200":
          description: Tag updated successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/TagResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTag
      tags: [Tags]
      summary: Delete a tag
      description: Remove a tag from the account.
      parameters:
        - name: tag_id
          in: path
          required: true
          schema:
            type: string
          description: Unique tag identifier
        - $ref: '#/components/parameters/ApiVersionHeader'
      responses:
        "200":
          description: Tag deleted successfully
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    ZohoOAuth:
      type: http
      scheme: bearer
      bearerFormat: Zoho-oauthtoken
      description: >-
        OAuth 2.0 token obtained from the Zoho Developer Console.
        Pass as `Authorization: Zoho-oauthtoken {access_token}`.

  parameters:
    MonitorId:
      name: monitor_id
      in: path
      required: true
      schema:
        type: string
      description: Unique monitor identifier
    GroupId:
      name: group_id
      in: path
      required: true
      schema:
        type: string
      description: Unique monitor group identifier
    ProfileId:
      name: profile_id
      in: path
      required: true
      schema:
        type: string
      description: Unique profile identifier
    ApiVersionHeader:
      name: Accept
      in: header
      required: false
      schema:
        type: string
        default: "application/json; version=2.0"
      description: API version header. Defaults to version 2.0.
    MonitorIdQuery:
      name: monitor_id
      in: query
      required: false
      schema:
        type: string
      description: Filter by monitor ID
    GroupIdQuery:
      name: group_id
      in: query
      required: false
      schema:
        type: string
      description: Filter by monitor group ID
    StartDate:
      name: start_date
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: Start of the time range (ISO 8601)
    EndDate:
      name: end_date
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: End of the time range (ISO 8601)

  responses:
    Unauthorized:
      description: Authentication failed or token is missing
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json;version=2.0:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          description: Response code (0 = success)
          example: 0
        message:
          type: string
          description: Response message
          example: success
      required: [code, message]

    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: Error code
        message:
          type: string
          description: Error description
        error_info:
          type: string
          description: Additional error details

    Monitor:
      type: object
      properties:
        monitor_id:
          type: string
          description: Unique identifier for the monitor
        display_name:
          type: string
          description: Human-readable name of the monitor
        type:
          type: string
          description: Monitor type (e.g., URL, SERVER, SSL_CERT, REST_API)
          example: URL
        website:
          type: string
          format: uri
          description: URL being monitored (for website monitors)
        check_frequency:
          type: integer
          description: Check interval in minutes
          example: 5
        location_profile_id:
          type: string
          description: ID of the location profile used for checks
        notification_profile_id:
          type: string
          description: ID of the notification profile
        threshold_profile_id:
          type: string
          description: ID of the threshold profile
        monitor_groups:
          type: array
          items:
            type: string
          description: List of monitor group IDs this monitor belongs to
        tag_ids:
          type: array
          items:
            type: string
          description: List of tag IDs associated with this monitor
        status:
          type: integer
          description: Current status (0=Down, 1=Up, 2=Trouble, 3=Critical, 5=Suspended, 7=Maintenance)
          enum: [0, 1, 2, 3, 5, 7]
        created_time:
          type: string
          format: date-time
          description: Timestamp when the monitor was created
        last_polled_time:
          type: string
          format: date-time
          description: Timestamp of the last polling check

    MonitorCreate:
      type: object
      required: [display_name, type]
      properties:
        display_name:
          type: string
          description: Human-readable name for the monitor
          example: My Website Monitor
        type:
          type: string
          description: Monitor type identifier
          example: URL
        website:
          type: string
          format: uri
          description: URL to monitor (for website/API monitors)
          example: https://example.com
        check_frequency:
          type: integer
          description: Polling interval in minutes
          default: 5
          example: 5
        location_profile_id:
          type: string
          description: ID of the location profile for check locations
        notification_profile_id:
          type: string
          description: ID of the notification profile for alerts
        threshold_profile_id:
          type: string
          description: ID of the threshold profile for alerting criteria
        monitor_groups:
          type: array
          items:
            type: string
          description: Monitor group IDs to assign this monitor to
        tag_ids:
          type: array
          items:
            type: string
          description: Tag IDs to associate with this monitor
        timeout:
          type: integer
          description: Request timeout in seconds
          default: 10

    MonitorResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Monitor'

    MonitorListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Monitor'

    MonitorGroup:
      type: object
      properties:
        group_id:
          type: string
          description: Unique identifier for the monitor group
        display_name:
          type: string
          description: Human-readable name of the monitor group
        description:
          type: string
          description: Description of the monitor group
        monitors:
          type: array
          items:
            type: string
          description: List of monitor IDs in this group
        health_threshold_count:
          type: integer
          description: Number of monitors that must be down to mark group as down

    MonitorGroupCreate:
      type: object
      required: [display_name]
      properties:
        display_name:
          type: string
          description: Name for the monitor group
          example: Production Servers
        description:
          type: string
          description: Description of the monitor group
        monitors:
          type: array
          items:
            type: string
          description: Monitor IDs to include in this group
        health_threshold_count:
          type: integer
          description: Number of monitors that must be down to alert

    MonitorGroupResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/MonitorGroup'

    MonitorGroupListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/MonitorGroup'

    StatusInfo:
      type: object
      properties:
        monitor_id:
          type: string
          description: Monitor identifier
        display_name:
          type: string
          description: Monitor display name
        type:
          type: string
          description: Monitor type
        status:
          type: integer
          description: Current status code (0=Down, 1=Up, 2=Trouble, 3=Critical, 5=Suspended, 7=Maintenance)
          enum: [0, 1, 2, 3, 5, 7]
        last_polled_time:
          type: string
          format: date-time
          description: Time of the last polling check
        unit:
          type: string
          description: Performance metric unit
        response_time:
          type: number
          description: Latest response time in milliseconds

    StatusResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/StatusInfo'

    StatusCountResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                up:
                  type: integer
                  description: Number of monitors currently up
                down:
                  type: integer
                  description: Number of monitors currently down
                trouble:
                  type: integer
                  description: Number of monitors in trouble state
                critical:
                  type: integer
                  description: Number of monitors in critical state
                suspended:
                  type: integer
                  description: Number of suspended monitors
                maintenance:
                  type: integer
                  description: Number of monitors in maintenance

    ReportData:
      type: object
      properties:
        monitor_id:
          type: string
          description: Monitor identifier
        display_name:
          type: string
          description: Monitor display name
        availability:
          type: number
          format: float
          description: Availability percentage
          example: 99.95
        downtime:
          type: number
          format: float
          description: Total downtime in minutes
        response_time:
          type: number
          format: float
          description: Average response time in milliseconds
        start_date:
          type: string
          format: date-time
          description: Report period start
        end_date:
          type: string
          format: date-time
          description: Report period end

    ReportResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/ReportData'
                - type: array
                  items:
                    $ref: '#/components/schemas/ReportData'

    Outage:
      type: object
      properties:
        outage_id:
          type: string
          description: Unique outage identifier
        monitor_id:
          type: string
          description: Associated monitor identifier
        display_name:
          type: string
          description: Monitor display name
        type:
          type: string
          description: Monitor type
        down_time:
          type: string
          format: date-time
          description: Time the outage started
        up_time:
          type: string
          format: date-time
          description: Time the outage ended (null if ongoing)
        duration:
          type: integer
          description: Outage duration in seconds
        reason:
          type: string
          description: Reason for the outage

    OutageCreate:
      type: object
      required: [monitor_id]
      properties:
        monitor_id:
          type: string
          description: Monitor ID for which to create the outage
        display_name:
          type: string
          description: Monitor display name (alternative to monitor_id)
        down_time:
          type: string
          format: date-time
          description: Outage start time
        up_time:
          type: string
          format: date-time
          description: Outage end time
        reason:
          type: string
          description: Reason for the outage

    OutageResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Outage'

    OutageListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Outage'

    Comment:
      type: object
      properties:
        comment_id:
          type: string
          description: Unique comment identifier
        outage_id:
          type: string
          description: Associated outage identifier
        comment:
          type: string
          description: Comment text
        created_by:
          type: string
          description: User who created the comment
        created_time:
          type: string
          format: date-time
          description: Comment creation timestamp

    CommentCreate:
      type: object
      required: [comment]
      properties:
        comment:
          type: string
          description: Comment text
          example: Investigating the root cause of this outage

    CommentResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Comment'

    CommentListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Comment'

    Alarm:
      type: object
      properties:
        alarm_id:
          type: string
          description: Unique alarm identifier
        monitor_id:
          type: string
          description: Associated monitor identifier
        display_name:
          type: string
          description: Monitor display name
        alarm_time:
          type: string
          format: date-time
          description: Time the alarm was triggered
        alarm_type:
          type: string
          description: Type of alarm (e.g., DOWN, TROUBLE, CRITICAL)
        status:
          type: integer
          description: Alarm status
        reason:
          type: string
          description: Reason for the alarm

    AlarmListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Alarm'

    User:
      type: object
      properties:
        user_id:
          type: string
          description: Unique user identifier
        display_name:
          type: string
          description: User's display name
        email_address:
          type: array
          items:
            type: string
            format: email
          description: List of email addresses for the user
        mobile_sms:
          type: array
          items:
            type: string
          description: List of mobile numbers for SMS alerts
        role:
          type: integer
          description: User role (0=Super Admin, 1=Admin, 2=Operator, 3=Read Only)
          enum: [0, 1, 2, 3]
        notify_via:
          type: array
          items:
            type: integer
          description: Notification channels (1=Email, 2=SMS, 3=Voice, 4=IM)

    UserCreate:
      type: object
      required: [display_name, email_address, role]
      properties:
        display_name:
          type: string
          description: User's display name
          example: John Doe
        email_address:
          type: array
          items:
            type: string
            format: email
          description: Email addresses for the user
        mobile_sms:
          type: array
          items:
            type: string
          description: Mobile phone numbers for SMS alerts
        role:
          type: integer
          description: User role
          enum: [0, 1, 2, 3]
          example: 2
        notify_via:
          type: array
          items:
            type: integer
          description: Notification method codes

    UserResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/User'

    UserListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/User'

    NotificationProfile:
      type: object
      properties:
        profile_id:
          type: string
          description: Unique profile identifier
        profile_name:
          type: string
          description: Name of the notification profile
        notify_after_down_count:
          type: integer
          description: Number of consecutive failures before alerting
        notify_after_consecutive_count:
          type: integer
          description: Number of consecutive checks before sending notifications
        escalation_wait_time:
          type: integer
          description: Time in minutes before escalating alerts
        escalation_prefix:
          type: string
          description: Prefix added to escalated notifications
        escalation_user_group_id:
          type: string
          description: User group to notify during escalation
        is_default:
          type: boolean
          description: Whether this is the default notification profile

    NotificationProfileCreate:
      type: object
      required: [profile_name]
      properties:
        profile_name:
          type: string
          description: Name for the notification profile
          example: Critical Alerts Profile
        notify_after_down_count:
          type: integer
          description: Failures before alerting
          default: 1
        notify_after_consecutive_count:
          type: integer
          description: Consecutive checks before notification
          default: 1
        escalation_wait_time:
          type: integer
          description: Minutes before escalating
          default: 0
        escalation_prefix:
          type: string
          description: Prefix for escalated alerts
        escalation_user_group_id:
          type: string
          description: User group for escalation

    NotificationProfileResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/NotificationProfile'

    NotificationProfileListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/NotificationProfile'

    ThresholdProfile:
      type: object
      properties:
        profile_id:
          type: string
          description: Unique threshold profile identifier
        profile_name:
          type: string
          description: Name of the threshold profile
        type:
          type: string
          description: Monitor type this profile applies to
        is_default:
          type: boolean
          description: Whether this is the default threshold profile
        trouble_threshold:
          type: integer
          description: Response time threshold for TROUBLE status (milliseconds)
        critical_threshold:
          type: integer
          description: Response time threshold for CRITICAL status (milliseconds)
        down_threshold:
          type: integer
          description: Consecutive failures before marking as DOWN

    ThresholdProfileCreate:
      type: object
      required: [profile_name, type]
      properties:
        profile_name:
          type: string
          description: Name for the threshold profile
          example: Website Thresholds
        type:
          type: string
          description: Monitor type this profile applies to
          example: URL
        trouble_threshold:
          type: integer
          description: Response time for TROUBLE alert (ms)
          example: 3000
        critical_threshold:
          type: integer
          description: Response time for CRITICAL alert (ms)
          example: 5000
        down_threshold:
          type: integer
          description: Consecutive failures before DOWN alert
          example: 1

    ThresholdProfileResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/ThresholdProfile'

    ThresholdProfileListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/ThresholdProfile'

    MaintenanceWindow:
      type: object
      properties:
        maintenance_id:
          type: string
          description: Unique maintenance window identifier
        display_name:
          type: string
          description: Name of the maintenance window
        description:
          type: string
          description: Description of the maintenance activity
        maintenance_type:
          type: integer
          description: Schedule type (1=Once, 2=Daily, 3=Weekly, 4=Monthly)
          enum: [1, 2, 3, 4]
        start_date:
          type: string
          description: Start date of the maintenance window
        end_date:
          type: string
          description: End date of the maintenance window
        start_time:
          type: string
          description: Start time in HH:MM format
        end_time:
          type: string
          description: End time in HH:MM format
        monitors:
          type: array
          items:
            type: string
          description: Monitor IDs in the maintenance window
        perform_actions:
          type: boolean
          description: Whether automated actions should run during maintenance

    MaintenanceWindowCreate:
      type: object
      required: [display_name, maintenance_type, start_date, end_date, start_time, end_time]
      properties:
        display_name:
          type: string
          description: Name for the maintenance window
          example: Monthly Patching
        description:
          type: string
          description: Maintenance description
        maintenance_type:
          type: integer
          description: Schedule recurrence (1=Once, 2=Daily, 3=Weekly, 4=Monthly)
          enum: [1, 2, 3, 4]
          example: 1
        start_date:
          type: string
          description: Maintenance start date (YYYY-MM-DD)
          example: "2026-07-01"
        end_date:
          type: string
          description: Maintenance end date (YYYY-MM-DD)
          example: "2026-07-01"
        start_time:
          type: string
          description: Start time (HH:MM)
          example: "02:00"
        end_time:
          type: string
          description: End time (HH:MM)
          example: "04:00"
        monitors:
          type: array
          items:
            type: string
          description: Monitor IDs to include in maintenance
        perform_actions:
          type: boolean
          description: Allow automated actions during maintenance
          default: false

    MaintenanceWindowResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/MaintenanceWindow'

    MaintenanceWindowListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/MaintenanceWindow'

    Tag:
      type: object
      properties:
        tag_id:
          type: string
          description: Unique tag identifier
        tag_name:
          type: string
          description: Tag name
        tag_color:
          type: string
          description: Tag color in hex format
          example: "#FF0000"

    TagCreate:
      type: object
      required: [tag_name]
      properties:
        tag_name:
          type: string
          description: Name for the tag
          example: production
        tag_color:
          type: string
          description: Color for the tag (hex)
          example: "#4CAF50"

    TagResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Tag'

    TagListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Tag'
